.Contactus{
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 100px;
    width: 100%;
    overflow: hidden;
}
#contactus{
    padding-top: 100px;
}
.contactuscontainer{
    width: 70%;
    border-radius: 15px;
    background-color: rgb(255, 253, 240);
    display: flex;
    align-items:center;
    justify-content: center;
    box-shadow:5px 5px 10px rgba(0, 0, 0, 0.336);
}
.addresscont{
    width: 40%;
    height: 100%;
    padding-bottom:100px ;
    background-color: #f9cc02;     
    border-radius: 15px 0px 0px 15px ;
}
.sendmessagecont{
    width: 60%;
    background-color: rgb(255, 253, 240);
    height: 100%;
    display: flex;
    padding-bottom:68px ;
    flex-direction: column;
    align-items: center;
    border-radius: 0px 15px 15px 0px ;
    font-family: 'Poppins', sans-serif;
}
.sendmessagecont p{
    color: rgb(183, 178, 178);
    font-family: 'Poppins', sans-serif;
    font-size: 22px;
    visibility: hidden;
    margin-bottom: 0px;
}
.cp1{
    margin-top: 100px;
}
.contactinputs{
    width: 60%;
    padding: 25px 20px;
    border-radius: 25px;
    border:none;
    margin-top: 20px;
    box-shadow:5px 5px 10px rgba(0, 0, 0, 0.205);
    text-align: center;
    font-size: 16px;
}
.contacttextarea{
    width: 60%;
    padding: 45px 20px;
    border-radius: 25px;
    box-shadow:5px 5px 10px rgba(0, 0, 0, 0.205);
    margin-top: 20px;
    border: none;
    text-align: center;
    font-size: 16px;
}
.contactbtn{
    width: 140px;
    padding: 15px 20px;
    font-size: 16px;
    border: none;
    background-color: #f9cc02;
    color: white;
    margin-top: 25px;
    border-radius: 35px;
    box-shadow:5px 5px 10px rgba(0, 0, 0, 0.436);
    cursor: pointer;
}
.contactbtn:hover{
    background: #000;
}
.emailss{
    display: flex;
    align-items: center;
}
.contactslogo{
    font-size: 25px;
    color:aliceblue;
    margin-left: 15%;
    margin-right: 10px;
    margin-top: 20px;
    margin-bottom: 10px;
}
.contactspan{
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    height: 100%;
    width: 60%;
    padding-top: 20px;
}
.addressheader{
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    margin-bottom: 10px;
}
.messagetexte{
    width: 100%;
    display: flex;
    justify-content: center;

}
.speaklogo{
    font-size: 120px;
    margin-top: 50px;
}
@media screen and (max-width:950px) {
    .contactuscontainer{
        width: 90%;
    }    
}

@media screen and (max-width:750px) {
    .contactuscontainer{
        width: 70%;
        flex-direction: column;
    }
    .addresscont{
        width: 100%;
        border-radius: 15px 15px 0px 0px ;
    }
    .sendmessagecont{
        width: 100%;
        border-radius: 0px 0px 15px 15px;
    }
}

@media screen and (max-width:500px) {
    .contactuscontainer{
        width: 85%;
        flex-direction: column;
    }
}

@media screen and (max-width:425px) {
    .contactuscontainer{
        width: 90%;
        flex-direction: column;
    }
}