@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');
.Home{
    width: 100%;
    height: 86.1vh;
    background-color: #f9cc02; 
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.homelogo{
    width: 350px;
    height: 350px;
    border-radius: 50%;
    margin-left: 100px;
    border: 5px solid #ffffff;
    box-shadow:5px 5px 10px rgba(0, 0, 0, 0.578);
    animation: roto 5s 1;
}
@keyframes roto {
    from {
        transform:rotateY(0deg)
    }
    to {
        transform:rotateY(360deg)
    }
  }

.homedescription{
    margin-top: 50px;
    width: 500px;
    margin-left: 100px;
}
.homehead{
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
}
.hometext{
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    margin-bottom:15px ;
    font-weight: 500;
    margin-left: 5px;
}
.homebtn{
    background: rgba(0, 0, 0, 0.658);
    color: #ffffff;
    font-size: 20px;
    padding: 20px 35px;
    margin-left: 5px;
    cursor: pointer;
    border: none;
}
.homebtn:hover{
    background-color: #000;
}
.meast{
    padding: top 20px ;
}
.arrow{
    font-size: 25px;
    margin-bottom: 0;
    padding-bottom: 0;
}
@media screen and (max-width:800px) {
    .Home{
        flex-direction: column;
        align-items: center;
        padding-bottom: 50px;
    }
    .homelogo{
        margin-left: 0;
    }
}
@media screen and (max-width:650px) {
    .homedescription{
        width: 60%;
        margin-left: 0;
        text-align: center;
    }
    .homebtn{
        margin-bottom: 100px;
    }
    .homelogo{
        width: 300px;
        margin-top: 150px;
    }
}

@media screen and (max-width:500px) {
    .homelogo{
        width: 80%;
    }
    .homehead{
        font-size: 30px;
    }
    .hometext{
        font-size: 12px;
    }
    .homedescription{
        width: 70%;
    }
}

@media screen and (max-width:290px) {
   .homelogo{
    width: 60%;
   }
}

