.Services{
    width: 100%;
    padding-top: 100px;
    padding-bottom: 100px;
}
#services{
    margin-top: 40px;
    padding-top: 100px;
}
.servicepart1{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
}
.servicepart1 p{
    text-align: center;
    font-size: 13px;
}
.servicepart2{
    margin-top: 30px;
}
.servicecont{
    width: 300px;
    padding: 20px;
    border-radius:10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.servicecont h3{
    margin-bottom: -10px;
}
.servicelogo{
    font-size: 70px;
}
.servicecont:hover{
    color: white;
    background-color: #f9cc02;
    box-shadow: 0px 2px 13px 3px #2f2f2f54;
}

@media screen and (max-width: 650px) {
    .servicepart1{
        flex-direction: column;
        align-items: center;
    }
    .servicelogo{
        font-size: 100px;
    }
    .servicecont h3{
        font-size: 26px;
    }
    .servicecont p{
        font-size: 15px;
    }
    .servicecont{
        width: 350px;
    }
}

@media screen and (max-width:425px) {
    .servicecont{
        width: 80%;
    }  
}